/home/ubadmin/tofu/proxmox/template/values.tfvars
values.tfvars
*/.terraform.lock.hcl
*/.terraform/*
/home/ubadmin/tofu/proxmox/template/.terraform
/home/ubadmin/tofu/proxmox/template/.terraform.lock.hcl
ssh/*

*/.terraform/*
*\\.terraform\\
C:\Users\medik\Documents\proxmox-tofu\.terraform
C:\Users\medik\Documents\proxmox-tofu\opensearch\opensearch\.terraform\*
opensearch/opensearch/.terraform/providers/registry.opentofu.org/pan-net/powerdns/1.5.0/windows_amd64.lock
opensearch/opensearch/.terraform/providers/registry.opentofu.org/pan-net/powerdns/1.5.0/windows_amd64/CHANGELOG.md
opensearch/opensearch/.terraform/providers/registry.opentofu.org/pan-net/powerdns/1.5.0/windows_amd64/LICENSE
opensearch/opensearch/.terraform/providers/registry.opentofu.org/pan-net/powerdns/1.5.0/windows_amd64/README.md
opensearch/opensearch/.terraform/providers/registry.opentofu.org/pan-net/powerdns/1.5.0/windows_amd64/terraform-provider-powerdns_v1.5.0.exe
opensearch/opensearch/.terraform/providers/registry.terraform.io/bpg/proxmox/0.104.0/windows_amd64.lock
opensearch/opensearch/.terraform/providers/registry.terraform.io/bpg/proxmox/0.104.0/windows_amd64/CHANGELOG.md
opensearch/opensearch/.terraform/providers/registry.terraform.io/bpg/proxmox/0.104.0/windows_amd64/LICENSE
opensearch/opensearch/.terraform/providers/registry.terraform.io/bpg/proxmox/0.104.0/windows_amd64/README.md
opensearch/opensearch/.terraform/providers/registry.terraform.io/bpg/proxmox/0.104.0/windows_amd64/terraform-provider-proxmox_v0.104.0.exe
opensearch/opensearch/.terraform/providers/registry.terraform.io/e-breuninger/netbox/5.3.0/windows_amd64.lock
opensearch/opensearch/.terraform/providers/registry.terraform.io/e-breuninger/netbox/5.3.0/windows_amd64/CHANGELOG.md
opensearch/opensearch/.terraform/providers/registry.terraform.io/e-breuninger/netbox/5.3.0/windows_amd64/LICENSE
opensearch/opensearch/.terraform/providers/registry.terraform.io/e-breuninger/netbox/5.3.0/windows_amd64/README.md
opensearch/opensearch/.terraform/providers/registry.terraform.io/e-breuninger/netbox/5.3.0/windows_amd64/terraform-provider-netbox_v5.3.0.exe
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64.lock
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/LICENSE.txt
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/terraform-provider-local_v2.8.0_x5.exe
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64.lock
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/LICENSE.txt
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/terraform-provider-null_v3.2.4_x5.exe
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/windows_amd64.lock
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/windows_amd64/LICENSE.txt
opensearch/opensearch/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/windows_amd64/terraform-provider-time_v0.13.1_x5.exe
opensearch/opensearch/.terraform/providers/registry.terraform.io/kgeroczi/zabbix/0.3.2/windows_amd64.lock
opensearch/opensearch/.terraform/providers/registry.terraform.io/kgeroczi/zabbix/0.3.2/windows_amd64/CHANGELOG.md
opensearch/opensearch/.terraform/providers/registry.terraform.io/kgeroczi/zabbix/0.3.2/windows_amd64/LICENSE
opensearch/opensearch/.terraform/providers/registry.terraform.io/kgeroczi/zabbix/0.3.2/windows_amd64/README.md
opensearch/opensearch/.terraform/providers/registry.terraform.io/kgeroczi/zabbix/0.3.2/windows_amd64/terraform-provider-zabbix_v0.3.2.exe
opensearch/opensearch/.terraform.lock.hcl
opensearch/opensearch/opensearch
opensearch/opensearch/terraform.tfstate
opensearch/opensearch/terraform.tfstate.backup
